* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
  
    background-color: var(--clr-background);
    color: var(--clr-text);
  
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
  }
  