:root {
    --clr-primary: #6200ea; 
    --clr-background: rgba(255, 255, 255, 1); 
    --clr-white: #ffffff;
    --clr-text: #111;
    --clr-border: #e0e0e0;
    --clr-footer-bg: #dcdcdc;
  
    --font-family-base: 'Open Sans', sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.5;
  
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
  

    --header-height: 4rem;
  }
  